#add{
    position: absolute;
    left: 50%;
    top: 20%;
    width: 40%;
    height: 10%;
}
#add1{
 margin-top: 10px;
 float: right;
}
#add2{
    position: absolute;
    top:40%;
    left:20%;
    right:20%;
}
#add_button {
width: 100px;
height:40px;
border-radius: 5px;
}

#add1 button{ border: 3px solid #FAB3B1; background-color: rgba(0,0,0,0); color: #FAB3B1; padding: 5px; } 
#add1 button:hover{ color:white; background-color: #FAB3B1; }

#guest_say{
    width: 700px; 
    height: 50px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #FAB3B1;
    border-bottom-width: 7px;
    background-color: #EB9A53;
    outline: none;
}

#guest_name{
    width: 400px; 
    height: 50px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #FAB3B1;
    border-bottom-width: 7px;
    background-color: #EB9A53;
    outline: none;
}

#guest_say_list{
    margin-bottom: 10px;
    border-bottom: solid 1px #FAB3B1;
}
#ss{
    background-color: thistle;
}
/* 사이드바 메뉴 아이콘
input[id="menuicon"]{
    display:none;
}

input[id="menuicon"] + label {
    display:block;
    width:60px;
    height: 40px;
    position:fixed;
    right: 0;
    top: calc(50% - 25px);
    transition:all .35s;
    cursor:pointer;

}

input[id="menuicon"] + label span{
    display:block;
    position: absolute;
    width:100%;
    height:5px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
}

input[id="menuicon"] + label span:nth-child(1){
    top:0;
}

input[id="menuicon"] + label span:nth-child(2){
    top:50%;
    transform:translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3){
    bottom: 0;
}

input[id="menuicon"]:checked + label span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    top:50%;
    transform: translateY(50%) rotate(-70deg);
}

/* 사이드 바 */
/* div[class="sidebar"]{
    width: 500px;
    height: 100%;
    background: #222;
    position: fixed;
    top:0;
    right: -500px;
    z-index: 1;
    transition:all .35s;
}

input[id="menuicon"]:checked + label + div {
    right: 0px;
}

input[id="menuicon"]:checked + label {
    z-index:2;
    right:500px;
}


input[id="menuicon"]:checked + label span {
    background:#fff;
} */
/* 섹션 배경 */